{% extends 'base.html.twig' %}

{% block title %}HomePage{% endblock %}

{% block body %}
<div class="container" style="min-height:50vh">
    <div class="mt-3 text-center">
        <h1>Bienvenue dans le garage Wilmart</h1>
        <h4>Trouvez n'importe quelles voitures d'occasion grâce au garage Wilmart</h4>
    </div>    
</div>
{% endblock %}
